body{
    background-color: aliceblue;
}
#score{
    font-size: 12px;
    margin: xl-23;
}
#timer{
    font-size: 12px;
    margin: xr-23;
    float:right;
}
#sketchname{
    color: navy;
}